body{
   
   padding: 0px;
   margin: 0px;
}
@font-face{
    font-family: "HelveticaLT";
    src: url(../black-sea/fonts/lte50052.ttf);
}

.wrap{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    background-color: #4b95a1;
    padding: 14px 2px 12px 2px;
   
}

.flex-header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
}


.flex-header span{
    font-family: 'Cherry Swash', cursive;
    font-size: 40px;
    color: #ffffff;
}

.nav{
    display: flex;
    list-style-type: none;
    padding: 6px 13px 0px 0px;
}
.nav li a{
    
    font-family: "HelveticaLT";
    padding: 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 47px 0px 3px;
}

.fon{
    padding: 0;
    background-image: url(img/Layer1.png);
    background-repeat: no-repeat; 
background-attachment: fixed;
height: 477px;
background-position: 50% 50%;
display: flex;
flex-direction: column;
justify-content: center;
}

.fon p{
    padding: 0;
    
}

.fon-text{
    text-align: center;
    
   
}