body{
   
   padding: 0px;
   margin: 0px;
}
@font-face{
    font-family: "HelveticaLT";
    src: url(../black-sea/fonts/lte50052.ttf);
}
@font-face{
    font-family: "HelveticaLTStd-bold";
    src: url(fonts/HelveticaLTStd-Bold.otf);
}
@font-face{
    font-family: "HelveticaLTStd-Light";
    src: url(fonts/HelveticaLTStd-Light.otf);
}
@font-face{
    font-family: "HelveticaLTStd-Roman";
    src: url(fonts/HelveticaLTStd-Roman.otf);
}






.wrap{
    max-width: 1024px;
    margin: 0 auto;
}

header{
    background-color: #4b95a1;
    padding: 14px 2px 12px 2px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
   
}

.flex-header{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
}


.flex-header span{
    font-family: 'Cherry Swash', cursive;
    font-size: 40px;
    color: #ffffff;
    white-space:nowrap
}

.nav{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 6px 13px 0px 0px;
}
.nav li a{
    
    font-family: "HelveticaLT";
   
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 47px 0px 3px;

    transition:  0.7s;
    transition-property: color;
}
.nav li a:hover{
    color: rgb(54, 54, 54);
    
}




.fon{
    padding: 0;
    background-image: url(img/Layer1.png);
    background-repeat: no-repeat; 
background-attachment: fixed;
height: 477px;
background-position: 50% 81%;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 87px;
}

.fon p{
    font-family: "HelveticaLTStd-bold";
    color: #e4e4e4;
    font-size: 44px;
    max-width: 525px;
    text-transform: uppercase;
    line-height:58px;
    padding: 0;
    
}

.fon-text{
    text-align: center;
    margin-bottom: 90px;


}

.fon-text a{
    text-decoration: none;
    font-family: "HelveticaLTStd-Light";
    font-size: 30px;
    color: #cdced0;
    border: 3px solid #afb1b4;
    border-radius: 6px;
    padding: 5px 42px 5px 45px;
    box-sizing: border-box;
    text-align: center;
    transition:  0.6s;
    transition-property: color,border-color,box-shadow;
    
}

.fon-text a:hover{
    color: white;
    border-color: white;
    box-shadow: 5px 2px 16px rgba(116, 115, 115);

}


.second{
    height: 444px;
   
}

.second-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 336px;
    padding-top: 49px;
}

    

.second-p{
    font-family: "HelveticaLTStd-Light";
    font-size: 30px;
    line-height: 49px;
    margin: 0px 0px 0px 0px;
    max-width: 633px;
    text-align: center;
    color: #4c505d;
    padding: 0px 0px 0px 0px
}

.second-lorem{
    font-family: "HelveticaLTStd-Roman";
    font-size: 14px;
    line-height: 22px;
    max-width: 858px;
    text-align: center;
    color: #4c505d;
    padding: 0px 0px 0px 0px

}

.second-icons{
    padding: 0px 0px 0px 0px;
    display: flex;
   width: 421px;
    justify-content: space-between;
}


.third{
    background-color: #00d089;
    height: 468px;
    padding: 92px 1px 1px 68px;
    box-sizing: border-box;
}

.third-content{
    max-width: 906px;
}

.text{
    font-family: "HelveticaLTStd-Light";
    font-size: 18px;
    line-height: 32px;
    color: white;
    padding-top: 37px;
}

.third-pic{
    display: flex;
    max-width: 302px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 117px;
}

.dhavan span{
    display: block;
    font-family: "HelveticaLTStd-bold";
    font-size: 26px;
    color: white;
    text-transform: uppercase;
}

.map{
    background-image: url(img/Layer4.png);
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     background-position: 50% 81%;
     display: flex;
     align-items: center;
    
}

.map-circle{
    width: 422px;
    height: 422px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
    margin: 0 auto;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 40px;
    background-color: #00d089;
    box-sizing: border-box;
    padding-top: 10px;
}

.footer p{
    font-family: "HelveticaLT";
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    
}


.forma{
    height: 195px;
}
.name{
    padding: 9px 78px 9px 16px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    margin-bottom: 5px;
}
.email{
    padding: 9px 78px 9px 16px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    margin-bottom: 5px;


}



.email:invalid{
    background-color: rgba(255, 0, 0, 0.2)

}

.massage{
    padding: 9px 90px 9px 16px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    margin-bottom: 5px;
   resize: none;
}
.shape5{
    display: none;
}

.send{
    border: none;
    padding: 10px;
    position: relative;
left: 50%;
transform: translate(-50%, 0);
}


@media (max-width: 621px){
   
    .nav{
        width: 223px;
    }
   
    .second-lorem {
        
        font-size: 10px;
        line-height: 15px;
        max-width: 400px;
        
    }

    .second-p {
        
        font-size: 24px;
        line-height: 38px; 
        max-width: 500px;
        
    }


    .fon p {
        
        font-size: 32px;
        max-width: 460px;
        line-height: 43px;
        
    }

    .fon-text a {
      
       
        font-size: 30px;
        border-radius: 6px;
        padding: 3px 38px 3px 38px;
        
        text-align: center;

    }

    .fon-text {
        text-align: center;
        margin-bottom: 1px;
    }
    .second-icons {
        
        width: 200px;
        
    }

    .text {
        
        font-size: 14px;
        line-height: 25px;
        padding-top: 22px;
    }


    .third-pic {
        margin: 0;
      
    }

    .nav li{
        padding: 5px;
    }

}



@media (max-width: 524px){

.nav{
    margin: 0 auto;
}

.flex-header span {
    
    font-size: 35px;
    margin-left: 50px;
}


.text {
    font-size: 12px;
    line-height: 21px;
    padding-top: 22px;
    margin-right: 53px;
}


.third-pic > img {
    width: 35%;
    height: 35%;
}

.dhavan img{
    width: 50%;
}

.dhavan span {
    font-size: 20px;
}

.third-pic {
  
    max-width: 247px;
}

.map-circle {
    width: 350px;
    height: 350px;
    opacity: 0.8;
   
}

.forma {
    height: 188px;
  
}

}


@media (max-width: 420px){

    .flex-header span {
        font-size: 29px;
       margin-left: 0px;
           
     
    }

    .fon p {
        font-size: 24px;
        max-width: 243px;
        line-height: 42px;
    }

    .fon-text a {
        font-size: 24px;
        border-radius: 6px;
        padding: 3px 38px 3px 38px;
        text-align: center;
    }
    .fon {
       
        background-attachment: scroll;
        height: 404px;
        margin-top: 109px;
    }

    .second-p {
        font-size: 20px;
        line-height: 34px;
        max-width: 300px;
    }
    .second-lorem {
      
        max-width: 290px;
    }

    .map-circle {
        width: 270px;
        height: 270px;
        opacity: 0.9;
        
    }

    .forma {
        height: 182px;
        margin-left: 3px;
    }

    .name {
        padding: 9px 0px 9px 13px;
       
        border-radius: 4px;
        margin-bottom: 5px;
    }
    .email {
        padding: 9px 0px 9px 13px;
        
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .massage {
        padding: 8px 21px 9px 13px;
        border-radius: 4px;
        margin-bottom: 5px;
        resize: none;
    }
   

}

